/target
/lib
/classes
/checkouts
/node_modules
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
*.swo
*.swp
.nrepl-port
.repl/
out/
repl/
resources/private/
resources/public/js/out/
resources/public/js/out/app.js
data
onyx.log
